<div id="<%= dom_id bill %>">
  <p>
    <strong>User:</strong>
    <%= bill.user.email %>
  </p>

  <p>
    <strong>Bill date:</strong>
    <%= bill.bill_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= bill.paid %>
  </p>

</div>
